<!DOCTYPE html>

<html ng-app="TarefasApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
        <style>
            .grifar {
                text-decoration: line-through;
                color: gray
            }
           
        </style>

    </head>
    <body ng-controller="PrincipalCtrl">
        <div class="jumbotron text-center">
            <h1>Minha Lista de Tarefas</h1>
            <p>Se organizar e realizar todas as atividades!</p> 
        </div>       
        <div class="row" >
            <h4 class="col-md-6">Lista de tarefas</h4>
            <div class="col-md-6 text-right">
                <input ng-model="mostrarTerminadas" type="checkbox" id="mostrarTerminadas">
                <label for="mostrarTerminadas">Mostrar Terminadas</label>
                <button ng-click="mostrarTerminadas()" class="btn btn-danger">Remover Terminadas</button>
            </div>
        </div>
        <div class="row"> 
            <div class="col-12 col-md-9" ui-view>
                
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.min.js"></script>
        <script src="controller.js" type="text/javascript"></script>
        
    </body>
</html>
