<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body
        
        <form>
            <h2>Nova Tarefa</h2>
            <div class="form-row">
                <div class="col">
                    <b>Tarefa</b>
                    <br>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col">
                    <b>Prazo</b>
                    <br>
                    <input type="date" class="form-control pull-right" placeholder="yyyy-mm-dd"> 
                </div>

            </div>
        </form>
        
        <div class="row">
            <p>
            <button ui-sref="principal()" type="button" class="btn btn-primary disabled">Cancelar</button>
            <button ui-sref="principal()" type="button" class="btn btn-primary active">Nova Tarefa</button>
            </p>
        </div>
    </body>
</html>
