<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="row">
            <div class="col-sm-6">
                <b>Terminada</b>
                <li ng-repeat="p in tarefas">
                           
                <label ui-sref="tarefa({id: {{p.id}}})" class="btn btn-default">
                    <input type="checkbox" checked="{{p.status}}"> {{p.nome}}
                </label>
                </li>
            </div>
            <div class="col-sm-4">
               <b >Tarefa</b>
               <li ng-repeat="p in tarefas">
                            <a ui-sref="tarefa({id: {{p.id}}})">{{p.nome}}</a> 
                </li>
            </div>
            <div class="col-sm-2">
                <b>Prazo</b>
                <li ng-repeat="p in tarefas">
                            <a ui-sref="tarefa({id: {{p.id}}})">{{p.dtprazo}}</a> 
                </li>
            </div>                 
        </div>
        
        <div class="row">
            <p>
            <button ui-sref="novaTarefa()" type="button" class="btn btn-info ">Nova Tarefa</button>
            </p>
        </div>

    </body>

</html>
